<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BitsxLaMarato QR - Prueba de PCR</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="container mx-auto p-6 bg-white rounded-lg shadow-lg max-w-xl">
        <div class="flex items-center mb-6">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="w-16 h-16 mr-4">
            <h1 class="text-3xl font-bold text-gray-800">BitsxLaMarato QR</h1>
        </div>

        <div class="mb-6">
            <h2 class="text-xl mb-4">Resultats dels diagnòstics</h2>
            <form method="post">
                <div class="mb-4">
                    <label class="block font-medium mb-2" for="inmunosupressio">
                        Has concretat un diagnòstic?
                    </label>
                    <div class="flex items-center">
                        <input type="radio" name="diagnostic_concretat" value="true" id="diagnostic_concretat_si" class="form-radio h-5 w-5 text-blue-600">
                        <label for="inmunosupressio_si" class="ml-2 font-medium">Sí</label>
                    </div>
                    <div class="flex items-center">
                        <input type="radio" name="diagnostic_concretat" value="false" id="diagnostic_concretat_no" class="form-radio h-5 w-5 text-blue-600" checked>
                        <label for="inmunosupressio_no" class="ml-2 font-medium">No</label>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block font-medium mb-2" for="inmunosupressio">
                        Té pneumonía?
                    </label>
                    <div class="flex items-center">
                        <input type="radio" name="pneumonia" value="true" id="pneumonia_si" class="form-radio h-5 w-5 text-blue-600">
                        <label for="inmunosupressio_si" class="ml-2 font-medium">Sí</label>
                    </div>
                    <div class="flex items-center">
                        <input type="radio" name="pneumonia" value="false" id="pneumonia_no" class="form-radio h-5 w-5 text-blue-600" checked>
                        <label for="inmunosupressio_no" class="ml-2 font-medium">No</label>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block font-medium mb-2" for="pcr_positiva">
                        La proba de PCR és positiva?
                    </label>
                    <div class="flex items-center">
                        <input type="radio" name="pcr_positiva" value="true" id="pcr_positiva_si" class="form-radio h-5 w-5 text-blue-600">
                        <label for="pcr_positiva_si" class="ml-2 font-medium">Sí</label>
                    </div>
                    <div class="flex items-center">
                        <input type="radio" name="pcr_positiva" value="false" id="pcr_positiva_no" class="form-radio h-5 w-5 text-blue-600" checked>
                        <label for="pcr_positiva_no" class="ml-2 font-medium">No</label>
                    </div>
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Següent
                </button>
            </form>
        </div>
    </div>
</body>
</html>
